.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.error button {
    color: var(--color-text-invert);
    background: var(--color-branding);
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    padding: var(--spacing-2) var(--spacing-4);
    cursor: pointer;
}

.sendTo {
  margin-top: 1.5rem;
  margin-left: 58%;
  line-height: 2.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#sendMe {
  color: white;
  background-color: #0876e4;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  text-decoration: none;
}

.sendChange {
  margin-left: 0.6rem;
  margin-bottom: 0.3rem;
}

@media only screen and (max-width: 1100px) {
    .sendTo {
      margin-left: 48%;
    }
}

@media only screen and (max-width: 900px) {
  .sendTo {
    margin-left: 52%;
  }
}

@media only screen and (max-width: 700px) {
  .sendTo {
    margin-left: 44%;
  }
}

@media only screen and (max-width: 500px) {
  .sendTo {
    margin-left: 48%;
    font-size: 0.7rem;
    margin-bottom: 5rem;
  }
}